@import "../sass/variables.scss";
@import "../sass/mixins.scss";

.main {
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    display: inline-block;
    width: 100%;
}

.fig10 {
    width: 95px;
    right: calc(50% - 345px);
    top: 26px;
    z-index: 11;
    position: absolute;
    @media (max-width: $mobile_l+1) {
        display: none;
    }
}
.fig11 {
    width: 80px;
    left: calc(50% - 332px);
    top: 32px;
    z-index: 11;
    position: absolute;
    @media (max-width: $mobile_l+1) {
        display: none;
    }
}
.content {
    z-index: 6;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .center-block {
        position: relative;
        padding: 140px 0 70px;
        display: inline-block;
        max-width: 639px;
        .title {
            width: 100%;
        }
        .description {
            position: relative;
            background: linear-gradient(180deg, #edf0f3 0%, #fcfdfd 100%);
            box-shadow: 0px 0px 30px #a55016;
            border-radius: 15px;
            font-size: 1rem;
            line-height: 1.4;
            text-align: center;
            padding: 25px 20px 5px;
            font-weight: 300;
            margin-top: 10px;
            p{
                margin-top: 0;
                @media (max-width: $mobile_l+1) {
                    margin-top: 15px;  
                }
            }

            span {
                text-transform: uppercase;
            }
            .fig {
                z-index: 7;
                position: absolute;
                @media (max-width: $mobile_l+1) {
                    display: none;
                }
            }
            .fig9 {
                width: 35px;
                top: -17px;
                left: 45px;
            }
            .fig5 {
                width: 82px;
                right: 5px;
                top: -40px;
            }
            .fig6 {
                right: -40px;
                width: 73px;
            }
            .fig8 {
                width: 126px;
                right: -40px;
                bottom: -75px;
            }
        }
        @media (max-width: $mobile_l+1) {
            width: 85%;
            padding: 100px 0;
        }
    }
}
.button {
    position: relative;
    width: 241px;
    height: 50px;
    display: flex;
    align-items: center;
    background-position: center center;
    font-size: 1rem;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto;
    background: url(../images/btn_start_3.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
    &:hover{
        cursor:pointer;
    }
    &.button_text{
        position: relative;
        z-index: 2;
    }
    .button_hover{ 
    top: 0;
    position: absolute !important;
    z-index: 1;
    width: 100%;
    height: 50px;
    left: 0;
    display: block;
    background: #fff;
    clip-path:polygon(0 0, 10px 0, 24px 50%, 10px 100%, 0 100%, 14px 50%);
    transition: clip-path .8s;
    //     &:before  {
    //         content: '';
    //         position: absolute;
    //         left: -20px;
    //         bottom: 0;
    //         border: 25px solid #fff;
    //         border-left: 15px solid transparent;
    // }
    //     &:after {
    //             content: ''; 
    //             position: absolute; 
    //             right: -40px; 
    //             bottom: 0px; 
    //             border: 25px solid transparent;
    //             border-left: 15px solid #fff;
    //     }
    }
    .button_text{
        transition: color .6s;
        z-index: 2;
        position: absolute;
        width: 160px;
        left: 45px;
    }
    .button_text-hover{
        opacity: 0;
        width:0;
        transition: width .8s ease;
        transition-delay:0.1s;
    }
    .button_text-active{
        // transition: width 1s ease;
        // transition-delay:0.1s;
        opacity: 1;
        overflow: hidden;
    }
    &:hover .button_hover {
        display: block;
        position: relative;
        background: #fff;
        clip-path:
        polygon(0 0, 227px 0, 241px 50%, 227px 100%, 0 100%, 14px 50%);
    }
    &:hover .button_text-active{
       opacity: 0;
       width:0;
    }
    &:hover .button_text-hover{
        opacity: 1;
        background: linear-gradient(#F48124, #EF3742);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 160px;
    }

    &:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        width: 24px;
        z-index: 2;
        height: 50px;
        display: block;
        background: #fff;
        clip-path:polygon(0 0, 10px 0, 24px 50%, 10px 100%, 0 100%, 14px 50%);
    }

}
.stores {
    display: flex;
    justify-content: center;
    .store {
        background-size: cover;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        &.google-play {
            width: 115px;
            height: 34px;
            margin-right: 10px;
        }
        &.app-store {
            width: 102px;
            height: 34px;
        }
    }
}
.arrow_down{
    clip-path: polygon(0 0, 9px 0, 22px 50%, 9px 100%, 0 100%, 13px 50%);
    height: 38px;
    display: block;
    background: #FF9C00;
    width: 22px;
    transform: rotate(90deg);
    margin: 0 auto;
    display: inline-block;
    position: relative;

    &:hover{
        cursor: pointer;
    }
    @include animation(up_down 2s infinite ease forwards);
}
  
    
    @keyframes up_down {
    0% { top:0 }
    50% { top: 4px; }
    100% { top: 0; }
    }

.menu {
    position: fixed;
    width: 100vw;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #edf0f3 0%, #fcfdfd 100%);
    box-shadow: 0px 0px 30px #a55016;
    height: 70px;

    .kagocel-img {
        max-width: 161px;
        margin-right: 60px;
        @media (max-width: $mobile_l+1) {
            margin-right: 50px;
            max-width: 150px;
        }
    }
    .souz-img {
        max-width: 81px;
    }
}
.competition {
    display: inline-block;
    margin-top: 180px;
    position: relative;
    padding: 30px;
    background: linear-gradient(180deg, #edf0f3 0%, #fcfdfd 100%);
    box-shadow: 0px 0px 30px #a55016;
    border-radius: 15px;
    .competition-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 17px;
        margin-bottom: 27px;
        margin-top: 30px;
    }
    .competition-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .competition-item {
        width: 33%;
        margin-top: 15px;
        margin-bottom: 15px;
        @media (max-width: $mobile_l+1) {
            width: 100% !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .competition-item:nth-child(3) {
        width: 28%;
    }
    .competition-item:nth-child(1) {
        width: 31%;
    }
    .competition-item:nth-child(2) {
        width: 37%;
    }
    .competition-item:nth-child(4) {
        width: 31%;
    }
    .competition-item:nth-child(5) {
        width: 40%;
    }
    .num {
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        float: left;
        /* or 100% */

        color: #f4b224;
    }
    .text {
        font-weight: 400;
        margin-left: 22px;
        font-size: 14px;
        line-height: 18px;
    }
    .fig {
        z-index: 7;
        position: absolute;
        @media (max-width: $mobile_l+1) {
            display: none;
        }
    }
    .fig1 {
        width: 69px;
        left: -40px;
        top: -30px;
    }
    .fig2 {
        width: 139px;
        bottom: -65px;
        left: -80px;
    }
    .fig3 {
        width: 70px;
        right: -38px;
    }
    .fig4 {
        width: 15px;
        right: 30px;
        top: 20px;
    }
}
.bell {
    width: 280px;
    position: absolute;
    top: -130px;
    left: 30%;
    @media (max-width: $mobile_l+1) {
        width: 85vw;
        position: absolute;
        top: -44vw;
        left: 7vw;
    }
}
.footer {
    z-index: 4;
    position: relative;
    padding: 10px 0;
    background: #fff;
    height: 143px;
    .footer_content {
        @media (min-width: $mobile_l) {
            width: 347px;
        }
        margin: 0 auto;
        .text1 {
            width: 281px;
            float: left;
            font-weight: 300;
            font-size: 8px;
            line-height: 8px;
        }
        .text2 img {
            margin-top: 10px;
            width: 100%;
        }
        .plus16 {
            float: right;
            width: 29px;
        }
    }
    @media (max-width: $mobile_l+1) {
    padding: 10px;
    }
}
.letu {
    width: 100vw;
    height: 100%;
    // min-height: 160vh;
    position: absolute;
    top: 10px;
    left: 0;
    background-size: 1980px;
    background-repeat: no-repeat;
    z-index: 5;
    background-position: top center;
    @media (max-width: $mobile_l+1) {
        display: none;
    }
}
